@import url(components/components.css);

body {
  height: 100vh;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  background: var(--bg-color);
}

main {
  width: 45%;
}

.logo {
  width: 100%;
  height: 50%;
}

.logo-text {
  flex-direction: column;
}

.upper-text {
  font-size: 5rem;
  font-family: "Shizuru", cursive;
}

.lower-text {
  font-size: 2rem;
}

.skull {
  font-size: 7rem;
}

p {
  margin: 2rem 0;
  font-size: 1.8rem;
  text-align: center;
}

button {
  width: 30%;
  height: 12%;
  margin: 0 1rem;
  border-radius: 15px;
  cursor: pointer;
  padding: 0.5rem;
}

a {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  box-sizing: content-box;
  padding: 0.7rem 1.7rem;
}

.btn-doc {
  background: var(--primary-active);
  border: 3px solid var(--primary-active);
}

.btn-doc a {
  color: black;
}

.btn-github {
  border: 3px solid var(--primary-active);
  background: var(--bg-color);
}

.btn-github a {
  padding: 1rem 4rem;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 10px 5px var(--secondary-color);
}
