<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar | DARK-UI</title>
    <link rel="stylesheet" href="../../doc.css" />
    <link rel="icon" href="../../assets/favicon.ico">
  </head>
  <body>
      <header class=" header">
      <a href="../../index.html"><span class="header-logo">&#128128DARK-UI</span></a>
      <span>
      <a class="a-header" href="../../index.html">Home</a>
      <a class="a-header" href="../../doc.html">Documentation</a>
      <a class="a-header" href="https://github.com/05him/Dark_UI">Github</a>
      </span>
      </header>
      <div class="content flex-center">
      <aside>
          <ul>
              <li class="big-side-li">Getting Started</li>
              <li class="side-li"><a class="a-hover" href="../../doc.html">Introduction</a></li>
              <li class="big-side-li">Components</li>
              <li class="side-li side-li-active"> <a class="a-hover a-active" href="../avatar/avatar.html">Avatar</a> </li>
              <li class="side-li"> <a class="a-hover" href="../alert/alert.html">Alert</a> </li>
              <li class="side-li"> <a class="a-hover" href="../badge/badge.html">Badge</a> </li>
              <li class="side-li"> <a class="a-hover" href="../button/button.html">Button</a> </li>
              <li class="side-li"> <a class="a-hover" href="../card/card.html">Card</a> </li>
              <li class="side-li"> <a class="a-hover" href="../image/image.html">Image</a> </li>
              <li class="side-li"> <a class="a-hover" href="../input/input.html">Input</a> </li>
              <li class="side-li"> <a class="a-hover" href="../text-util/text-util.html">Text Utilities</a> </li>
              <li class="side-li"> <a class="a-hover" href="../lists/lists.html">Lists</a> </li>
              <li class="side-li"> <a class="a-hover" href="../navigation/navigation.html">Navigation</a> </li>
              <li class="side-li"> <a class="a-hover" href="../modal/modal.html">Modal </a> </li>
              <li class="side-li"> <a class="a-hover" href="../rating/rating.html">Rating </a> </li>
              <li class="side-li"> <a class="a-hover" href="../toast/toast.html">Toast </a> </li>
              <li class="side-li"> <a class="a-hover" href="../grid/grid.html">Grid</a> </li>
          </ul>
      </aside>
      <main>
       <h1 class="head">Avatar</h1>
       <p> Avatar can be used in creating profile pictures and such similar things.</p>
       <hr>
       <h2 class="head">Same Sized Avatar </h2>
       <div class="demo-box flex-center demo-avtr">
           <img class="avtr" src="https://picsum.photos/70" alt="avatar placeholder">
           <img class="avtr" src="https://picsum.photos/80" alt="avatar placeholder">
           <img class="avtr" src="https://picsum.photos/60" alt="avatar placeholder">
           <img class="avtr" src="https://picsum.photos/90" alt="avatar placeholder">
       </div>
       <iframe
       class="code-box"
       src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=16px&ph=16px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avtr%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%253E%250A%253Cimg%2520class%253D%2522avtr%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%253E%250A%253Cimg%2520class%253D%2522avtr%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%253E"
       style=" height: 160px; border:0; transform: scale(1); overflow:hidden;"
       sandbox="allow-scripts allow-same-origin">
      </iframe>
       <hr>
       <h2 class="head">Different Sized Avatar</h2>
       <div class="demo-box flex-center demo-avtr">
        <img class="avtr avtr-xs" src="https://picsum.photos/70" alt="avatar placeholder">
        <img class="avtr avtr-s" src="https://picsum.photos/80" alt="avatar placeholder">
        <img class="avtr" src="https://picsum.photos/60" alt="avatar placeholder">
        <img class="avtr avtr-l" src="https://picsum.photos/90" alt="avatar placeholder">
       </div>
       <iframe
       class="code-box"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=16px&ph=16px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avtr%2520avtr-xs%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%253E%250A%253Cimg%2520class%253D%2522avtr%2520avtr-s%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%253E%250A%253Cimg%2520class%253D%2522avtr%2522%2520%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%253E%250A%253Cimg%2520class%253D%2522avtr%2520avtr-l%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%253E"
        style="height: 178px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      </main>
      </div>
  </body>
</html>
