@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&family=Shizuru&display=swap");

@import url(../utilities.css);

@import url(avatar/avatar.css);
@import url(badge/badge.css);
@import url(alert/alert.css);
@import url(button/button.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #1a202c;
  --primary-color: #00ffdd;
  --primary-active: #81e6d9;
  --primary-bg: rgba(48, 140, 122, 0.3);
  --secondary-color: #03071e;
  --text-color: white;

  --demo-bg: #d0cbcbd9;
  --badge-bg: red;
  --badge-online: rgb(3, 214, 3);
  --badge-dnd: rgb(177, 5, 5);
  --badge-offline: rgb(150, 149, 149);

  --alert-primary: rgb(92, 92, 250);
  --alert-secondary: rgb(94, 94, 94);
  --alert-success: rgb(57, 162, 57);
  --alert-warning: rgb(235, 235, 44);
  --alert-danger: rgb(201, 21, 21);
}

a {
  text-decoration: none;
}
