@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&family=Shizuru&display=swap");

@import url(../utilities.css);

body {
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  background: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #1a202c;
  --primary-color: #00ffdd;
  --primary-active: #81e6d9;
  --primary-bg: rgba(48, 140, 122, 0.3);
  --secondary-color: #03071e;
  --text-color: white;
}

a {
  text-decoration: none;
}
