.alert {
  font-size: 1rem;
  font-weight: 500;
  /* border: 1px solid black; */
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 0.7rem auto;
  border-radius: 10px;
  width: 95%;
}

.alert-primary {
  background: var(--alert-primary);
}

.alert-secondary {
  background: var(--alert-secondary);
}

.alert-success {
  background: var(--alert-success);
}

.alert-warning {
  background: var(--alert-warning);
}

.alert-danger {
  background: var(--alert-danger);
}

.alert-primary-outline,
.alert-secondary-outline,
.alert-success-outline,
.alert-warning-outline,
.alert-danger-outline {
  background: var(--text-color);
  border: 2px solid;
}

.alert-primary-outline {
  color: var(--alert-primary);
  border-color: var(--alert-primary);
}

.alert-secondary-outline {
  color: var(--alert-secondary);
  border-color: var(--alert-secondary);
}

.alert-success-outline {
  color: var(--alert-success);
  border-color: var(--alert-success);
}

.alert-warning-outline {
  color: var(--alert-warning);
  border-color: var(--alert-warning);
}

.alert-danger-outline {
  color: var(--alert-danger);
  border-color: var(--alert-danger);
}
